@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}
@layer utilities {
  @media (max-width: 640px) {
    .card {
      width: 67px !important;
      height: 275px !important;
      border-radius: 15px !important;
      transform: translateX(30%) !important;
    }

    .card .temp {
      flex-direction: column !important;
      align-items: center !important;
      gap: 4px !important;
    }
  }
}



