@layer utilities {
  @media (max-width: 640px) {
    .card {
      width: 67px !important;
      height: 275px !important;
      border-radius: 15px !important;
      transform: translateX(30%) !important;
    }

    /* faqat pastdagi -10° bloki uchun */
    .card .temp {
      flex-direction: column !important;
      align-items: center !important;
      gap: 4px !important;
    }
  }
}
